page-login {

    .col{
        border: 1px solid transparent;
        ion-img{
            background: transparent;
            margin: 30px 0;
        }
    }
    .item-md{
        padding-left: 0px;
        border-bottom: 1px solid #d0a44d;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
        border: 1px solid transparent;
        box-shadow: none;
    }
    .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
        border-bottom: 2px solid transparent;
        box-shadow: none;
    }
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
        border-bottom-color: transparent;
        box-shadow: none;
    }
    .btn-login{
        margin-top: 30px;
    }
    #email{
        text-transform: lowercase;
    }
}
