<ion-header>

  <ion-navbar>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    
  <ion-list>

    <ion-item>
      <ion-label>Mês</ion-label>
      <ion-datetime displayFormat="MM-YYYY" [(ngModel)]="searchDate" doneText="Confirmar" cancelText="Cancelar"></ion-datetime>
    </ion-item>

  </ion-list>

  <button ion-button block outline class="btn-default" [disabled]="hasOrder" (click)="search()">Pesquisar</button>
  <!-- <button ion-button block outline class="btn-default" *ngIf="hasOrder" (click)="newSearch()">Nova Pesquisa</button> -->

      <div style="display: block"  *ngIf="hasOrder">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)" >
          </canvas>
      </div>
    <div>
      <div style=" display: block; margin-top: 30px;"  *ngIf="hasOrder">
        <canvas baseChart
                    [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"
                    [options]="doughnutChartOptions"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)" height="300px">
        </canvas>
      </div>
    </div>

  <div  style="padding-bottom: 40px;">

    <ion-grid color="dark" *ngIf="hasOrder">
      <ion-row>
        <ion-col col-12 class="col-order-number"><div><strong>Entradas</strong></div></ion-col>
      </ion-row>
      <ion-row  *ngFor="let categoria of movimentacao">
        <ion-col col-6 class="col-order-number" *ngIf="categoria.m_classe_id == 1">
          <div style="text-align: left;">
          <span style="color: #488aff;">{{ categoria.categoria_nome }}</span>
          </div>
          <i style="display: block;text-align: left;">{{categoria.observacoes}}</i>
        </ion-col>
        <ion-col col-6 class="col-order-number" *ngIf="categoria.m_classe_id == 1">
          <div style="text-align: right;">
            <span style="color: #488aff;" >{{ categoria.preco | currency:'BRL':'symbol':'1.2-3':'pt'}}</span>
          </div>
          <i style="display: block;text-align: right;">{{ categoria.preco_data | date  : 'dd/MM/yyyy'  }}</i>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col col-12 class="col-order-number">
          <strong>Total entradas:</strong>  <strong style="color: #488aff;float: right;">{{ totalEntrada | currency:'BRL':'symbol':'1.2-3':'pt'}}</strong>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid color="dark" *ngIf="hasOrder">
      <ion-row>
        <ion-col col-12 class="col-order-number"><div><strong>Saídas</strong></div></ion-col>
      </ion-row>
      <ion-row  *ngFor="let categoria of movimentacao" >
        <ion-col col-6 class="col-order-number" *ngIf="categoria.m_classe_id == 2" (click)="getCategoria(categoria)">
          <div style="text-align: left;">
          <span style="color: red;">{{ categoria.categoria_nome }}</span>
          </div>
          <i style="display: block;text-align: left;">{{categoria.observacoes}}</i>
        </ion-col>
        <ion-col col-6 class="col-order-number" *ngIf="categoria.m_classe_id == 2" (click)="getCategoria(categoria)">
          <div style="text-align: right;">
            <span style="color: red;">{{ categoria.preco | currency:'BRL':'symbol':'1.2-3':'pt'}}</span>
          </div>
          <i style="display: block;text-align: right;">{{ categoria.preco_data | date  : 'dd/MM/yyyy'  }}</i>
        </ion-col>
        <ion-col col-12>
          
          <ion-list  [class.active]="categoria.status" class="list-items" >
            <button ion-button block icon-end color="secondary" class="add-product" (click)="showModalProduto(categoria)">
              Incluir Produto
              <ion-icon name="ios-add-circle-outline"></ion-icon>
            </button>
            <ion-item class="list-item" (click)="removeItem()" *ngFor="let item of categoria.items">
              <ion-label>{{item.produto_nome}} <span style="color: #a52a2a; float: right;">{{item.unitario | currency:'BRL':'symbol':'1.2-3':'pt'}} - {{item.total | currency:'BRL':'symbol':'1.2-3':'pt'}}</span></ion-label>
            </ion-item>  
            <!-- <ion-item class="list-item">
              <ion-label>6 Pão <span style="color: #a52a2a; float: right;">R$ 5,00</span></ion-label>
            </ion-item>  
            <ion-item class="list-item">
              <ion-label>6 Pão <span style="color: #a52a2a; float: right;">R$ 5,00</span></ion-label>
            </ion-item>                                   -->
          </ion-list>           
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="col-order-number">
          <strong>Total saídas:</strong>  <strong style="color: red;float: right;">{{ totalSaida | currency:'BRL':'symbol':'1.2-3':'pt'}}</strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="col-order-number">
          <strong>Total:</strong>  <strong style="color: black;float: right;">{{ totalEntrada - totalSaida | currency:'BRL':'symbol':'1.2-3':'pt'}}</strong>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <ion-fab right bottom>
    <button ion-fab color="primary"><ion-icon name="ios-menu"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="back()"><ion-icon name="ios-arrow-dropleft-outline" ></ion-icon></button>
      <button ion-fab (click)="exit()"><ion-icon name="ios-exit-outline"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

</ion-content>

<button ion-fab mini class="btn-top"><ion-icon name="ios-sync-outline"></ion-icon></button>
<app-loading></app-loading>