page-cadastro-produtos {
    .input-quantity{
        border: none;
        text-align: right;
        float: right;
    }
    input.input-quantity:disabled {
    background: #ffffff;
    }

    .select-text{
    color: #d0a44d;
    }
    .text-input-md{
        color: #d0a44d;
    }
    .btn-cadastro{
        margin-bottom: 15px;
    }
    .accordeon-list{
        border: 1px solid grey;
    }
    .btn-list{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 0 5px 0;
    }
    span.text-fixed{
        float: right;
        color: #d0a44d;
    }
}
