
.grid{
    margin: 25px 0;
    .row{
        .col{
            span{
                color:#d0a44d;
            }
        }
    }
}
.col-order-number{
    border-bottom: 2px solid rgba(208, 164, 77, 0.2);
}
label{
    color: #999;
}
.input-text{
    outline: none;
    border: none;
    color: #d0a44d;
    text-align: right;
    float: right;
}
.text-input-md{
    text-align: right;
}
textarea.text-input-md{
    text-align: left;
    margin-left: 0;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    border-bottom: 2px solid transparent;
    box-shadow: none;
}
.item-md{
    border-bottom: 2px solid #dedede;
}
.list-md .item-block .item-inner{
    border: 1px solid transparent;
}
.item-md.item-block .item-inner{
    border-bottom: 1px solid transparent
}