modal-despesa {

    form{
        padding: 5px;
        .item-md{
            padding: 0;
        }
    }

    .toolbar-title-md {
        text-align: center;
        margin: 25px 0;
    }
    ion-input{
        color: #d0a44d;
    }
    .button-block-md{
        margin: 20px 0;
    }
    span{
        color: #000000;
    }
}

