<ion-header>
    <ion-navbar>
      <ion-title>Nova Despesas</ion-title>
    </ion-navbar>
  </ion-header>
<ion-content padding>

  <form name="form" (ngSubmit)="onSubmit()">

    <ion-item >
      <ion-label>Despesa</ion-label>
      <ion-input  type="text" name='nome' [(ngModel)]="categoria.categoria_nome"></ion-input>

    </ion-item>
    <ion-item>
      <label>Valor</label>
      <!-- <input type="text" name="money" placeholder="(R$) Real"  value="item.item_valor"/> -->
      <input class="input-text" currencyMask name=" money" [(ngModel)]="categoria.categoria_valor" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
    </ion-item>

    <ion-item>
      <ion-textarea placeholder="Tap here" rows="3" maxLength="500" 
          [(ngModel)]="categoria.comments" name="comments" autocomplete="on" placeholder="Observações:">
      </ion-textarea>
    </ion-item>

    <button ion-button block outline color="secondary" class="default" type="submit" >Adicionar</button>
    
  </form>
  <button ion-button block outline color="gold" (click)="closeModal()">Sair</button>
</ion-content>
<app-loading></app-loading>