page-cadastro-item {
    .input-quantity{
        border: none;
        text-align: right;
        float: right;
    }
    input.input-quantity:disabled {
    background: #ffffff;
    }

    .select-text{
    color: #d0a44d;
    }
    .text-input-md{
        color: #d0a44d;
    }
}